
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <link href="~/css/reset.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Responsivo.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>EditarFotos</title>
</head>
<body>

    <h1> Escolha as Fotos: </h1>
    <form>
        <div class="container">
            <div class="card-columns">

                @foreach (var foto in ViewBag.FotosDoProdutoSelecionadas)
                {
                    <div class="card" style="width: 18rem;">

                        @*<img src="data:image/jpg;base64,@System.Convert.ToBase64String(foto.Imagem, 0, foto.Imagem.Length)" class="card-img-top" alt="" />*@
                        <img src="@foto.FotoProduto.Foto.MiniFotoUrl" class="card-img" alt="" />
                        <div class="card-img-overlay">

                            <h5 class="card-title">@foto.FotoProduto.Foto.Nome</h5>
                            <p class="card-text">@foto.FotoProduto.Foto.Descricao</p>

                            <a asp-action="EditarDesassociarFoto" asp-route-fotoDesassociar="@foto.FotoProduto.Foto.Id.ToString()" class="btn btn-outline-danger btn-sm stretched-link">&times;</a>
                        </div>

                    </div>


                }

                @foreach (var foto in ViewBag.Fotos)
                {
                    
                    <div class="card" style="width: 18rem;">


                        <img src="@foto.MiniFotoUrl" class="card-img" alt="" />
                        <div class="card-img-overlay">
                            <h5 class="card-title">@foto.Nome</h5>
                            <p class="card-text">@foto.Descricao</p>
                            <a asp-action="EditarAssociarFoto" asp-route-fotoAssociar="@foto.Id.ToString()" class="btn btn-outline-primary btn-sm stretched-link">+</a>
                        </div>

                    </div>
                    
                }


            </div>

            <a asp-action="Edit" asp-route-id="@ViewBag.Pedido" class="btn btn-outline-primary">Voltar ao Pedido</a>
        </div>
    </form>
</body>
</html>
